.android-page {
  background-color: #faf0d7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-page .div {
  background-color: #faf0d7;
  overflow: hidden;
  width: 360px;
  height: 1625px;
  position: relative;
}

.android-page .overlap {
  position: absolute;
  width: 362px;
  height: 894px;
  top: 703px;
  left: 0;
}

.android-page .back {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 514px;
  left: 0;
}

.android-page .rectangle {
  width: 360px;
  height: 315px;
  top: 579px;
  background: linear-gradient(180deg, rgba(250, 240, 215, 0) 0%, rgb(250, 240, 215) 53.15%);
  position: absolute;
  left: 0;
}

.android-page .rumh {
  position: absolute;
  width: 360px;
  height: 464px;
  top: 1px;
  left: 0;
  object-fit: cover;
}

.android-page .org {
  position: absolute;
  width: 147px;
  height: 224px;
  top: 107px;
  left: 176px;
  object-fit: cover;
}

.android-page .motor {
  position: absolute;
  width: 293px;
  height: 188px;
  top: 697px;
  left: 35px;
}

.android-page .group {
  position: absolute;
  width: 294px;
  height: 531px;
  top: 0;
  left: 34px;
}

.android-page .overlap-group {
  position: relative;
  width: 292px;
  height: 542px;
}

.android-page .rectangle-2 {
  width: 292px;
  height: 514px;
  top: 0;
  background-color: #ffffffbf;
  border-radius: 24.5px;
  position: absolute;
  left: 0;
}

.android-page .mask-group {
  position: absolute;
  width: 292px;
  height: 322px;
  top: 0;
  left: 0;
}

.android-page .submit {
  position: absolute;
  width: 121px;
  height: 55px;
  top: 487px;
  left: 86px;
}

.android-page .text-wrapper {
  position: absolute;
  width: 292px;
  height: 52px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 15.7px;
  text-align: center;
  letter-spacing: 0.16px;
  line-height: 29.4px;
}

.android-page .frame {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 71px;
  left: 41px;
  overflow: hidden;
}

.android-page .text-wrapper-2 {
  position: absolute;
  width: 210px;
  height: 20px;
  top: -1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #102c57;
  font-size: 13.4px;
  letter-spacing: 0.13px;
  line-height: normal;
}

.android-page .text-wrapper-3 {
  position: absolute;
  width: 210px;
  height: 20px;
  top: 22px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #102c5780;
  font-size: 11.2px;
  letter-spacing: 0.11px;
  line-height: normal;
}

.android-page .line {
  position: absolute;
  width: 206px;
  height: 1px;
  top: 46px;
  left: 0;
}

.android-page .frame-2 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 133px;
  left: 41px;
  overflow: hidden;
}

.android-page .frame-3 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 250px;
  left: 41px;
  overflow: hidden;
}

.android-page .frame-4 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 311px;
  left: 41px;
  overflow: hidden;
}

.android-page .frame-5 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 370px;
  left: 41px;
  overflow: hidden;
}

.android-page .frame-6 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 191px;
  left: 41px;
  overflow: hidden;
}

.android-page .overlap-group-2 {
  position: absolute;
  width: 93px;
  height: 21px;
  top: 22px;
  left: 0;
  border-radius: 27.94px;
  border: 1.12px solid;
  border-color: #102c57;
}

.android-page .text-wrapper-4 {
  position: absolute;
  width: 73px;
  height: 12px;
  top: 2px;
  left: 9px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7.8px;
  letter-spacing: 0.08px;
  line-height: normal;
}

.android-page .down-button {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 74px;
}

.android-page .frame-7 {
  position: absolute;
  width: 206px;
  height: 60px;
  top: 432px;
  left: 75px;
  overflow: hidden;
}

.android-page .overlap-2 {
  position: absolute;
  width: 210px;
  height: 20px;
  top: -1px;
  left: 0;
}

.android-page .text-wrapper-5 {
  position: absolute;
  width: 210px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #102c57;
  font-size: 13.4px;
  letter-spacing: 0.13px;
  line-height: normal;
}

.android-page .overlap-3 {
  position: absolute;
  width: 130px;
  height: 21px;
  top: 22px;
  left: 0;
  border-radius: 27.94px;
}

.android-page .schedule-wrapper {
  position: absolute;
  width: 130px;
  height: 21px;
  top: 0;
  left: 0;
  border-radius: 27.94px;
  border: 1.12px solid;
  border-color: #102c57;
}

.android-page .schedule {
  position: absolute;
  width: 15px;
  height: 20px;
  top: -1px;
  left: 106px;
}

.android-page .text-wrapper-6 {
  position: absolute;
  width: 105px;
  height: 12px;
  top: 3px;
  left: 10px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 7.8px;
  letter-spacing: 0.08px;
  line-height: normal;
}

.android-page .overlap-wrapper {
  position: absolute;
  width: 362px;
  height: 50px;
  top: 561px;
  left: 0;
}

.android-page .pengumuman-akan-wrapper {
  position: relative;
  width: 360px;
  height: 50px;
  background-color: #ffffffbf;
}

.android-page .pengumuman-akan {
  position: absolute;
  width: 310px;
  height: 60px;
  top: 9px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #102c57;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 14px;
  white-space: nowrap;
}

.android-page .span {
  font-weight: 500;
}

.android-page .text-wrapper-7 {
  font-weight: 700;
}

.android-page .img {
  position: absolute;
  width: 184px;
  height: 52px;
  top: 651px;
  left: 94px;
}

.android-page .group-wrapper {
  position: absolute;
  width: 224px;
  height: 16px;
  top: 613px;
  left: 91px;
}

.android-page .group-2 {
  position: absolute;
  width: 224px;
  height: 38px;
  top: -3px;
  left: -18px;
}

.android-page .group-3 {
  position: absolute;
  width: 360px;
  height: 679px;
  top: 0;
  left: 0;
}
.rectangle {
  position: absolute;
  left: 0;
  top: 100px; /* Menggeser ke atas sejauh 100 piksel */
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2.4498rem;
  width: 15rem; /* Mengurangi lebar rectangle */
  height: 10rem; /* Mengurangi tinggi rectangle */
  max-height: 10rem; /* Menetapkan max-height untuk rectangle */
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.form-container {
  max-width: 300px; /* Mengurangi lebar form */
  width: 100%;
  margin: -55px auto 0; /* Mengatur margin atas sejauh -55px */
  padding: 20px; /* Mengurangi ruang padding form */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

/* Responsive styles using media queries */
@media screen and (max-width: 600px) {
  .form-container {
      max-width: 100%;
  }
}

.form-text {
  text-align: center;
}

.form-text h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px; /* Mengurangi jarak antara form-group */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: calc(100% - 16px); /* Mengurangi lebar input untuk kompensasi padding */
  padding: 8px;
  margin-bottom: 8px; /* Mengurangi jarak antara input, select, dan textarea */
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: rgb(21, 21, 142);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(1, 1, 44);
}

/* Responsive styles using media queries */
@media screen and (max-width: 600px) {
  .form-container {
      max-width: 100%;
  }
}

/* Additional styles for smaller screens or mobile devices */
@media screen and (max-width: 400px) {
  .form-container {
      padding: 15px;
  }
}
